<div class="is-pulled-right field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="searchfield">
            Recherche
        </label>
    </div>
    <div class="field-body">
        <div class="field">
            <input class="input" type="search" id="searchfield" />
        </div>
    </div>
</div>
<table id="books" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    {% if titleAffich is defined %}
        <caption>{{ titleAffich }} ({{ books|length }})</caption>
    {% else %}
        <caption>Nombre de livres : <span id="total">{{ books|length }}</span></caption>
    {% endif %}
    <thead>
    <tr>
        <th>Nom</th>
        <th>Auteur(s)</th>
        <th>Éditeur</th>
        <th>Tag(s)</th>
        <th>Parution</th>
        <th>Date d'ajout</th>
        <th>Résumé</th>
        <th data-sort-method='none'>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>
                {% for author in book.authors %}
                    <a href="{{ path('book_author', {'author': author.id}) }}">{{ author.name }}</a>{% if not(loop.last) %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('book_editor', {'editor': book.editor.id}) }}">
                    {{ book.editor.name }}
                </a>
            </td>
            <td>
                {% for tag in book.tags %}
                    <a href="{{ path('book_tag', {'tag': tag.id}) }}" class="tag is-info is-light">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            </td>
            <td data-sort="{{ book.publishedAt|date('Ymd') }}" class="has-text-weight-light">{{ book.publishedAt|date('d/m/Y') }}</td>
            <td data-sort="{{ book.createdAt|date('YmdHis') }}" class="has-text-weight-light">{{ book.createdAt|date('d/m/Y à H:i') }}</td>
            <td>
                {% if book.abstract and book.abstract|length > 0 %}
                    X
                {% endif %}
            </td>
            <td>
                <div class="buttons are-small">
                    <a href="{{ path('book_edit', {'book': book.id}) }}{% if filterBook is defined %}?filter={{ filterBook }}&id_filter={{ filterId }}{% endif %}" class="button is-primary" title="Editer">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('book_delete', {'book': book.id}) }}{% if filterBook is defined %}?filter={{ filterBook }}&id_filter={{ filterId }}{% endif %}" class="button is-danger" title="Supprimer">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
