<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Home
        </a>
        {% if app.user %}
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarAll">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
    <div id="navbarAll" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('author_index') }}">
                Auteurs
            </a>
            <a class="navbar-item" href="{{ path('editor_index') }}">
                Éditeurs
            </a>
            <a class="navbar-item" href="{{ path('tag_index') }}">
                Tags
            </a>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            {% if app.user %}
                <div class="navbar-item">
                    {{ app.user.username }}
                </div>
                <div class="navbar-item">
                    <a class="button is-danger" href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<div class="hero is-fullheight-with-navbar is-light">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="column is-4 notification is-{{ label }} is-light">
                            <button class="delete"></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </section>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
