{% extends 'base.html.twig' %}

{% block title %}Liste des tags{% endblock %}

{% block body %}

    <div class="columns">
        <div class="column is-3-widescreen">
            <p><a class="button is-success" href="{{ path('tag_new') }}">Créer un tag</a></p>
            <br>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <caption>Liste des tags ({{ tags|length }})</caption>
                <thead>
                <tr>
                    <th>Désignation</th>
                    <th data-sort-method='none'>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>{{ tag.name }}</td>
                        <td>
                            <div class="buttons">
                                <a class="button is-primary" href="{{ path('tag_edit', {'id': tag.id}) }}" title="Modifier"><i class="fas fa-edit"></i></a>
                                <a class="button is-danger" href="{{ path('tag_delete', {'id': tag.id}) }}" title="Supprimer"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Pas de tag</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
